@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700&family=Inter:wght@400;500&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@500&family=Pacifico&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header, main{
    margin: 20px 60px;
}
.banner{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 80%), url("../resources/bannerimage.png");
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    display: block;

    
    
    
}
.banner h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    padding-top: 120px;
    
    
    
}
.banner h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    max-width: 50%;
    margin: auto;
   

}

/* main section starts */

.offer{
    font-family: Inter;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(255, 0,0);
}
h1{
   
    font-size: 88px;
    font-weight: 700;
}
h6{
    font-size: 24px;
    font-weight: 500;
    margin: 1.5rem 0px;
}
h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}
.image{
    width: 100%;
    text-align: center;
}
.banner2{
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../resources/vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:space-between ;
    margin-top: 100px;
    
    
    
}
.new_year{
    width: 80%;

}

.banner2 h3{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 11%;
    text-align: left;
    margin: 2rem 0px;
}
.banner2 p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.banner2>div{
    margin-left:80px ;
}
.banner2 button{
    border: none;
    background:transparent;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 2rem;
}
.banner2 button:hover{
    font-size: larger;
    background: #3c3a3a;

}

.container{
    border-radius: 16px;
    margin-top: 40px;
    padding: 80px;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(237, 137, 137, 0.785),rgba(217, 210, 210, 0) 100%);
}

.container h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
    
}
.container button{
    border-radius: 8px;
    background: rgba(251, 16, 16, 0.894);
    padding: 10px 25px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(250, 244, 244);
    
}
.container2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 80px;
    
   
}

.container2 h6{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    margin-top: 4rem ;

}



.container2 h4{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0%;
    text-align: left;
    margin: 1.5rem 0px;
}
.container2 .img2{
   border: 15px red solid;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
}
.container2 h2{
    color: red;
    text-align: left;
    margin-top: 4rem;
}
.container2 p{
    color: gray;
    max-width: 260px;
    margin: 1.5rem 0px;
}

.holidays{
    text-align: center;
    margin-top: 100px;
}
.holidays h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holidays h2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holidays h2{
    margin: 30px auto;
}
.holidays h2 span{
    color: rgb(255, 0, 0); 
}  

.holidays p{
    color: gray;
   
}

.holidays-img{
    margin-top:1320px;
 }
.img_box_1{
    margin-top: 50px;
    position: relative;
    width: 100%;
   
}
.img_1{
    position: absolute;
    bottom:0px ;
    right: 0px;
    left: 705px;
}
.img_box_2{
    position: relative;
}
.img_2{
   position: absolute;
   bottom: 20px;
   right: 300px;
}
.img_box_3{
    position: relative;
    top: 200px;
}
.img_3{
    width: 500px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.img_box_4{
    margin-top: 500px;
    right: 50px;
}
.img_4{
    width: 100%;
}

.portfolio_img{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
.portfolio_img:hover{
    position: relative;
    cursor: pointer;
   
}
.portfolio_img img:hover{
    box-shadow: 5px 5px 15px rgb(195, 113, 35);
}
.portfolio_img img{
    width: 100%;
}
.portfolio_text h3{
    color: red;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin-top: 60px;
}
.portfolio_text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0px;
    text-transform: capitalize;
}

.portfolio_text p{
    color: gray;
    margin-bottom: 30px;
}
.subscribe_section{
    text-align: center;
    margin-top: 60px;
    border-radius: 16px;
    background: rgba(239, 135, 135, 0.437);
    padding: 40px;
}
.subscribe_section h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
}
.subscribe_section p{
   color: gray;
}
.user{
    margin-top: 10px;
} 

.input1{
    padding: 10px 30px;
    outline:none;
    border-radius: 15px 0px 0px 15px;
    border: none;
}
.input2{
    padding: 10px 20px;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background: red;
    color: white;
}
.footer *{
    font-family: Inter;
}
.footer{
    background-color: black;
    height: 50vh;
    padding-top: 50px;
}
.footer hr{
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgb(51, 51, 51);
}
.address{
    display: flex;
    justify-content: space-around;
    color: white;
}
.address address{
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone img{
    height: 20px;
}
.social-icon{
    text-align: center;
    margin: 40px auto;
}
.social-icon img{
    margin-left: 15px;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: white;
}
.copyright h6{
    font-size: 20px;
}
